*{
    margin: 0%;
    box-sizing: border-box;
}

img{
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}


html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}




.questions{
    text-align: center;
}

